.post {
	background-color: rgb(227, 225, 225);
	margin: 0px auto 2vh auto;
	padding: 0.1vh 1vw 1vh 1vw;
	border-radius: 0.5%;
	max-width: 50%;
	display: block;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
	max-width: 80%;
	display: block;
	margin: auto;
}

#footer {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-top: 1vh;
	padding: 0.5vh 0.5vw;
	border-radius: 0.5vw;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h6 {
	margin: 0px;
	padding: 0px;
}